<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Account.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Fennec.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FennecEnterprise.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Firefox.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>FirefoxBeta.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>FirefoxNightly.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>L10nSnapshotTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>MarketingUITests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>ReadingList.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>SendTo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>ShareTo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Shared.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Storage.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Sync.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Telemetry.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Today.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>ViewLater.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2827315D1ABC9BE600AA1954</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>282731671ABC9BE700AA1954</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>288A2D851AB8B3260023ABC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FA435FA1ABB83B4008031D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FA436041ABB83B4008031D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FCAE2191ABB51F800877008</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FCAE2231ABB51F800877008</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>390527491C874D35007E0BB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B43E3CF1D95C48D00BBA9DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BFE4B061D342FB800DDF53F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BEB64401C7345600092C02E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BEB644F1C7345990092C02E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D39FA15E1A83E0EC00EE869C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4BA8A2A1B4B0A1600BC2E95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4D567171ADECE2700F1EFE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4D567211ADECE2700F1EFE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E65C5BC31BEA4F6500D28BEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E69DB0741E97DEA9008A67E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E69DB07C1E97DEA9008A67E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6F9650B1B2F1CF20034B023</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F84B21BD1A090F8100AAB793</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F84B21D21A090F8100AAB793</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F84B22481A0920C600AAB793</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F84B225B1A09210A00AAB793</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
